<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="com.xiaomi.bluetooth.permission.access_miuibluetooth_content_provider" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:maxSdkVersion="30" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Qiki Widgets"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.QikiWidgets">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".widget.SampleWidgetProvider"
            android:exported="true"
            android:label="@string/sample_widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/sample_widget_info" />
        </receiver>
        <receiver
            android:name=".airpods.AirPodsBluetoothReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.bluetooth.a2dp.profile.action.CONNECTION_STATE_CHANGED" />
                <action android:name="android.bluetooth.headset.profile.action.CONNECTION_STATE_CHANGED" />
                <action android:name="android.bluetooth.device.action.BATTERY_LEVEL_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".widget.WidgetRefreshReceiver"
            android:exported="false" />
        <service
            android:name=".airpods.AirPodsScannerService"
            android:exported="false" />
    </application>
</manifest>
